<section class="card consultant_info" *ngIf="isVisible">
    <div class="card-header">
        <span class="cat__core__title">
            <div class="fa fa-stethoscope"></div>
            <strong>{{infoTitle}}</strong>
        </span>
    </div>
    <div class="card-block">

        <dx-accordion
            #accordion
            [dataSource]="columns"
            [collapsible]="true"
            [multiple]="true"
            [animationDuration]="300"
            (onInitialized)="expandAll($event)">
            <div *dxTemplate="let item of 'title'">
                <h5 [outerHTML]="item.title"></h5>
            </div>


            <div *dxTemplate="let item of 'item'">
                <!-- Consultation Reason -->
                <ng-container *ngIf="item.id === 'consultationReason'" >
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                Por favor ingrese el motivo de la consulta:
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group padding-top-10 margin-bottom-0">
                                <dx-text-area [(value)]="consultation.reason"></dx-text-area>
                            </div>
                        </div>
                    </div>
                </ng-container>



                <!-- Record -->
                <ng-container *ngIf="item.id === 'record'" >
                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-group"></div>
                                Personales Sociales
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.personal"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-plus-square"></div>
                                Patol&oacute;gicos
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.pathological"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-hospital-o"></div>
                                Quir&uacute;rgicos
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.surgical"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-eye"></div>
                                Al&eacute;rgicos
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.alergic"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-medkit"></div>
                                Farmacol&oacute;gicos
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.pharmacological"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-heart"></div>
                                Transfusionales
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.transfusions"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-user"></div>
                                Hereditarios
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.hereditary"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-expeditedssl"></div>
                                T&oacute;xicos
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.toxic"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-thumb-tack"></div>
                                Otros
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.other"></dx-text-area>
                        </div>
                    </section>
                </ng-container>

                <!-- Physical Exam -->
                <ng-container *ngIf="item.id === 'physicalExam'">
                    <div class="container-fluid consultant_info_physical_exam">
                        <div class="row">
                            <div class="col-md-1">
                                TA:
                            </div>
                            <div class="col-md-1">
                                <dx-number-box [(value)]="physicalExam.ta"></dx-number-box>
                            </div>
                        </div>
                        <div class="row flex-row">
                            <div class="col-md-1">
                                FC:
                            </div>
                            <div class="col-md-1">
                                <dx-number-box [(value)]="physicalExam.fc"></dx-number-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                Peso:
                            </div>
                            <div class="col-md-1">
                                <dx-number-box [(value)]="physicalExam.weight"></dx-number-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                Talla:
                            </div>
                            <div class="col-md-1">
                                <dx-number-box [(value)]="physicalExam.size"></dx-number-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                Temp:
                            </div>
                            <div class="col-md-1">
                                <dx-number-box [(value)]="physicalExam.temperature"></dx-number-box>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                        <div class="row col-12">
                            <div class="row col-12">
                                Comentarios:
                            </div>
                            <div class="row col-12">
                                <dx-number-box class="col-12" [(value)]="physicalExam.comments"></dx-number-box>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- Diagnostic images -->
                <ng-container *ngIf="item.id === 'diagnosticImages'">
                    <div class="consultant_info__loading" *ngIf="loadingImages">
                        <span class="fa fa-circle-o-notch fa-5x fa-spin" style="color: #0190fe"></span>
                        <span>Cargando imagens...</span>
                    </div>

                    <ng-container *ngIf="!loadingImages">
                        <dx-file-uploader
                            #fileUploader
                            (onValueChanged)="onFileAdded($event)"
                            [multiple]="true"
                            accept="image/*"
                            [(value)]="value"
                            uploadMode="useForm"
                            labelText="o arrastralos y sueltalos aqu&iacute;"
                            selectButtonText="Selecciona archivos"
                        ></dx-file-uploader>

                        <div class="consultant_info__image_grid">
                            <div class="consultant_info__image_grid__item"
                                 [ngClass]="{'no_view': !this.editMode}"
                                 *ngFor="let image of currentImages; let i = index">
                                <ngx-image-zoom
                                    (mouseenter)="imageIndexHover = i"
                                    (mouseleave)="imageIndexHover = null"
                                    [thumbImage]=image.src
                                    [enableLens]="true"
                                    [enableScrollZoom]="true"
                                    (click)="viewImage(i)"
                                    [lensWidth]="150"
                                    [lensHeight]="100"
                                    [zoomMode]="imageIndexHover === i  ? 'click' : 'hover'"
                                ></ngx-image-zoom>

                                <button
                                    type="button"
                                    (mouseenter)="imageIndexHover = i"
                                    (mouseleave)="imageIndexHover = null"
                                    [class.show_button]="imageIndexHover === i"
                                    [disabled]="image.isRemoving"
                                    class="btn btn-light consultant_info__image_grid__item__remove mr-2 mb-2 float-right"
                                    (click)="openRemovePopup(image)">
                                    <span class="fa fa-times"></span>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </dx-accordion>
    </div>
    <div class="card-footer">
        <div class="mb-5">
            <button *ngIf="!editMode" type="button" class="btn mr-2 mb-2 float-right" (click)="cancel()">Cancelar</button>
            <button
                type="button"
                [disabled]="loading"
                class="btn btn-primary mr-2 mb-2 float-right"
                (click)="saveConsultation()">
                {{saveText}}
            </button>
        </div>
    </div>
</section>


<dx-popup
    [height]="200"
    [showTitle]="true"
    title="¿Deseas eliminar la imagen?"
    [dragEnabled]="false"
    [showCloseButton]="!isRemoving"
    [closeOnOutsideClick]="true"
    [(visible)]="removePopup"
    class="consultant_info__remove_buttons_container">
    <div *dxTemplate="let data of 'content'">
        <div class="consultant_info__remove_buttons_container__buttons">
            <button
                type="button"
                [disabled]="isRemoving"
                class="btn btn-primary mr-2 mb-2 float-right"
                (click)="removeImage(imageToRemove)">
                <ng-template [ngIf]="!isRemoving" [ngIfElse]="removing">
                    Eliminar
                </ng-template>

                <ng-template #removing>
                    Eliminando <span class="fa fa-circle-o-notch fa-spin"></span>
                </ng-template>
            </button>

            <button
                type="button"
                [disabled]="isRemoving"
                class="btn btn-secondary mr-2 mb-2 float-right"
                (click)="removePopup = false">
                Cancelar
            </button>
        </div>
    </div>
</dx-popup>
