<!-- START: pages/login-alpha -->
<div class="cat__pages__login cat__pages__login--fullscreen" style="background-image: url(/assets/modules/core/img/bg-login.jpg)">
    <div class="cat__pages__login__header">
        <div class="row">
            <div class="col-lg-8">
                <div class="cat__pages__login__header__logo">
                    <img src="/assets/modules/core/img/logo-inverse.png" alt="Insight Derm" />
                </div>
            </div>
        </div>
    </div>
    <div class="cat__pages__login__block">
        <div class="row">
            <div class="col-xl-12">
                <div class="cat__pages__login__block__inner">
                    <div class="cat__pages__login__block__form">
                        <h4 class="text-uppercase">
                            <strong>POR FAVOR INICIA SESIÓN</strong>
                        </h4>
                        <br />
                        <div id="form-validation" name="form-validation">
                            <div class="form-group">
                                <label class="form-label">Usuario:</label>
                                <input id="validation-email"
                                       class="form-control"
                                       placeholder="Usuario"
                                       name="validation[email]"
                                       type="text"
                                       [(ngModel)]="username">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Contraseña:</label>
                                <input id="validation-password"
                                       class="form-control password"
                                       name="validation[password]"
                                       type="password" data-validation="[L>=6]"
                                       data-validation-message="$ Deben ser mínimo 6 caracteres."
                                       placeholder="Contraseña"
                                       [(ngModel)]="password">
                            </div>                            
                            <div class="form-actions">
                                <button type="button"                                        
                                        class="btn btn-primary mr-3"
                                        (click)="login()">
                                        Iniciar Sesión
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<!-- END: pages/login-alpha -->
