<!-- START: pages/login-alpha -->
<div class="cat__pages__login" style="background-image: url(/assets/modules/core/img/bg-login.jpg)">
    <div class="cat__pages__login__block">
        <div class="row">
            <div class="col-xl-12">
                <div class="cat__pages__login__block__promo text-white text-center">
                    <h1 class="mb-3">
                        <strong>BIENVENIDO A INSIGHT DERM</strong>
                    </h1>

                    <button type="submit"
                            [routerLink]="['/consultation']"
                            class="btn btn-primary mr-3">Ver consultas</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: pages/login-alpha -->
