<!-- START: consultation add -->
<section class="card">
    <div class="card-header">
        <span class="cat__core__title">
            <div class="fa fa-stethoscope"></div>
            <strong>Realizar Interconsulta</strong>            
        </span>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-5">
                    <form #searchPatientForm="ngForm" *ngIf="active"  (ngSubmit)="onSubmit()">
                        <div class="form-group row">                           
                            <h5 class="col-md-2 col-form-label text-black">
                                <strong>Cedula Paciente</strong>
                            </h5>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="patientId"
                                            placeholder="Consulta..." id="l8" required [(ngModel)]="patientId"
                                            minlength="6" maxlength="15" #validation="ngModel">                                     
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary" (click)="searchPatient();" [disabled]="!searchPatientForm.form.valid">
                                            Consultar
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-7 ">
                                <div *ngIf="validation.errors && (validation.dirty || validation.touched)"
                                        class="alert alert-danger">
                                    <div [hidden]="!validation.errors.required">
                                    Ingrese por favor la cedula del paciente.
                                    </div>
                                    <div [hidden]="!validation.errors.minlength">
                                    La cedula debe tener minímo 6 caracteres.
                                    </div>
                                    <div [hidden]="!validation.errors.maxlength">
                                    La cedula no puede tener más de 15 caracteres.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<patient-form [show]="showFormPatient" (submitForm)="createOrUpdatePatient($event)"></patient-form>

<section class="card" *ngIf="showBeginConsultation">
    <div class="card-header">
        <span class="cat__core__title">
            <div class="fa fa-stethoscope"></div>
            <strong>Iniciar Consulta</strong>            
        </span>
    </div>
    <div class="card-block">
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs mb-4" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#consultationReason" role="tab">
                        <i class="fa fa-stethoscope"></i>
                        Motivo Consulta
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#record" role="tab">
                        <i class="fa fa-medkit"></i>
                        Antecedentes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#physicalExam" role="tab">
                        <i class="fa fa-heartbeat"></i>
                        Examen F&iacute;sico
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="consultationReason" role="tabcard">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                Por favor ingrese el motivo de la consulta:
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group padding-top-10 margin-bottom-0">
                                <dx-text-area [(value)]="consultation.reason"></dx-text-area>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="record" role="tabcard">
                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-group"></div>
                                Personales Sociales 
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.personal"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-plus-square"></div>
                                Patol&oacute;gicos 
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.pathological"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-hospital-o"></div>
                                Quir&uacute;rgicos
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.surgical"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-eye"></div>
                                Al&eacute;rgicos
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.alergic"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-medkit"></div>
                                Farmacol&oacute;gicos
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.pharmacological"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-heart"></div>
                                Transfusionales
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.transfusions"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-user"></div>
                                Hereditarios
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.hereditary"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-expeditedssl"></div>
                                T&oacute;xicos
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.toxic"></dx-text-area>
                        </div>
                    </section>

                    <section class="card">
                        <div class="card-header">
                            <span class="utils__title">
                                <div class="fa fa-thumb-tack"></div>
                                Otros
                            </span>
                        </div>
                        <div class="card-block">
                            <dx-text-area [(value)]="medicalBackground.other"></dx-text-area>
                        </div>
                    </section>
                </div>
                <div class="tab-pane" id="physicalExam" role="tabcard">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-1">
                                TA:
                            </div>
                            <div class="col-md-1">
                                <dx-number-box [(value)]="physicalExam.ta"></dx-number-box>
                            </div>   
                        </div>           
                        <div class="row">
                            <div class="col-md-1">
                                FC:
                            </div>
                            <div class="col-md-1">
                                <dx-number-box [(value)]="physicalExam.fc"></dx-number-box>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                Peso:
                            </div>                        
                            <div class="col-md-1">
                                <dx-number-box [(value)]="physicalExam.weight"></dx-number-box>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                Talla:
                            </div>                        
                            <div class="col-md-1">
                                <dx-number-box [(value)]="physicalExam.size"></dx-number-box>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                Temp:
                            </div>                        
                            <div class="col-md-1">
                                <dx-number-box [(value)]="physicalExam.temperature"></dx-number-box>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                Comentarios:
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <dx-number-box [(value)]="physicalExam.comments"></dx-number-box>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="mb-5">
            <button type="button" class="btn mr-2 mb-2 float-right">Cancelar</button>
            <button 
                type="button"                 
                class="btn btn-primary mr-2 mb-2 float-right"
                (click)="saveConsultation()">
                Guardar Interconsulta
            </button>           
        </div>        
    </div>
</section>
<!-- END: mconsultation add -->